# Ignore data files from language statistics
public/data/*.geojson linguist-vendored
public/data/*.csv linguist-vendored
public/images/* linguist-vendored

# Ignore legacy vendor scripts/plugins
src/utils/leaflet-plugins/*.js linguist-vendored

# Ensure source code is detected correctly
*.vue linguist-detectable
*.ts linguist-detectable
*.js linguist-detectable
*.css linguist-detectable